<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<appSettings>
		<add key="BackgroundColor.R" value="65" />
		<add key="BackgroundColor.G" value="120" />
		<add key="BackgroundColor.B" value="120" />
	</appSettings>
	<connectionStrings>
		<add name="DbConection" connectionString="data source=DESKTOP-69QNOS9\SQLEXPRESS;initial catalog=StoreDb2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />	
	</connectionStrings>
</configuration>